# Refracto Bead ESP32-C3 sdkconfig defaults

# Target
CONFIG_IDF_TARGET="esp32c3"

# Bluetooth BLE
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_GATTS_ENABLE=y

# Wi-Fi
CONFIG_ESP_WIFI_ENABLED=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Main task stack
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# UART (receive from STM32 @ 460800)
CONFIG_UART_ISR_IRAM_SAFE=y

# HTTP server
CONFIG_ESP_HTTP_SERVER=y

# Optimization
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Watchdog
CONFIG_ESP_TASK_WDT=n